.blog {
   padding-bottom: 50px;
   @media (max-width:526px) {
      padding-bottom: 50px;
   }
   &__title {
      margin: 0px 0px 50px 0px;
      @media (max-width:526px) {
         margin: 0px 0px 20px 0px;
      }
   }
   &__article_name {
       font-size: 30px;
       font-weight: 500;
       display: inline-block;
       line-height: 44 / 30 * 100%;
       color: inherit;
       margin: 0px 0px 10px 0px;
       transition: color 0.3s ease 0s;
       @media (min-width:920px) {
         &:hover {
           color: brown;
         }
       }
   }
   &___items {

   }
   &__item {
        border-bottom: 1px solid #E0E0E0;
        padding: 0px 0px 30px 0px;
        margin: 0px 0px 30px 0px;
   }
   &__info {
       display: flex;
       font-size: 20px;
       margin: 0px 0px 10px 0px;
   }
   &__date {

   }
   &__separator {
      margin: 0px 15px;
      
   }
   &__category {
      color: #8695A4;
   }
   &__text {

   }
}

.menu {
&__link2 {
   font-size: 20px;
   font-weight: 500;
   color: brown;
   text-decoration: none;
   transition: color 0.3s ease 0s;
   @media (min-width:920px) {
     &:hover {
       color: brown;
     }
   }
   @media (max-width: 526px) {
     font-size: 40px;
     display: block;
     text-align: center;
   }
}
}